$black: #000000;
$white: #ffffff;

$lichtlichtlichtpaars: #f0effc;
$lichtlichtpaars: #d3d4de;
$lichtpaars: #d9d5e4;
$paars: #5B34AD;
$donkerpaars: #38197A;

$lichtlichtoranje: #fce5cd;
$lichtoranje: #FA9B3D;
$oranje: #E67200;
$donkeroranje: #c38c53;